# Bonus Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [7]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

%matplotlib inline

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use Ironhack's database to load the data (db: pokemon, table: pokemon_stats).

In [4]:
# Your code here:
df=pd.read_csv('/home/carmencuadrado/Ironhack/dataptmad0420/module-2/hypothesis-testing/hypothesis-testing.csv')

In [6]:
df.dropna

<bound method DataFrame.dropna of                            Name  \
0             AARON,  JEFFERY M
1               AARON,  KARINA
2           AARON,  KIMBERLEI R
3           ABAD JR,  VICENTE M
4             ABASCAL,  REECE E
5         ABBASI,  CHRISTOPHER
6         ABBATACOLA,  ROBERT J
7            ABBATE,  JOSEPH L
8         ABBATEMARCO,  JAMES J
9              ABBATE,  TERRY M
10             ABBOTT,  BETTY L
11             ABDALLAH,  ZAID
12       ABDELHADI,  ABDALMAHD
13          ABDELLATIF,  AREF R
14          ABDELMAJEID,  AZIZ
15         ABDOLLAHZADEH,  ALI
16     ABDUL-KARIM,  MUHAMMAD A
17          ABDULLAH,  DANIEL N
18         ABDULLAH,  LAKENYA N
19           ABDULLAH,  RASHAD
20        ABDULSATTAR,  MUDHAR
21        ABDUL-SHAKUR,  TAHIR
22            ABEJERO,  JASON V
23      ABERCROMBIE IV,  EARL S
24       ABERCROMBIE,  TIMOTHY
25           ABFALL,  RICHARD C
26           ABIOYE,  ADEWOLE A
27             ABNEY,  PATRICK
28            ABOUASSI,  CHADI
29       ABOUELKHEIR,  HASSAN A
...                         ...
33153             ZUNIGA,  NOE
33154           ZUNIGA,  OSCAR
33155          ZUNIGA,  RONALD
33156          ZUNIGA,  THOMAS
33157         ZUNIGA,  VICENTE
33158              ZUNO,  ERIK
33159            ZUPAN,  BILL M
33160         ZUPANCIC,  KELLY
33161       ZURAWSKI,  JEFFREY
33162         ZURAWSKI,  MAC Z
33163         ZURAWSKI,  MARY E
33164          ZUREK,  FRANCIS
33165            ZUREK,  MARY H
33166          ZURITA,  ADRIEL
33167           ZVANJA,  TINA M
33168    ZWARYCZ MANN,  IRENE A
33169        ZWARYCZ,  THOMAS J
33170          ZWIT,  JEFFREY J
33171       ZWOLFER,  MATTHEW W
33172           ZYCH,  MATEUSZ
33173            ZYDEK,  BRYAN
33174          ZYGADLO,  JOHN P
33175       ZYGADLO,  MICHAEL J
33176          ZYGMUNT,  ARTUR
33177          ZYGMUNT,  DAWID
33178     ZYLINSKA,  KATARZYNA
33179        ZYMANTAS,  LAURA C
33180         ZYMANTAS,  MARK E
33181       ZYRKOWSKI,  CARLO E
33182      ZYSKOWSKI,  DARIUSZ

                                          Job Titles        Department  \
0                                           SERGEANT            POLICE
1             POLICE OFFICER (ASSIGNED AS DETECTIVE)            POLICE
2                           CHIEF CONTRACT EXPEDITER  GENERAL SERVICES
3                                  CIVIL ENGINEER IV       WATER MGMNT
4                        TRAFFIC CONTROL AIDE-HOURLY              OEMC
5                         STAFF ASST TO THE ALDERMAN      CITY COUNCIL
6                                ELECTRICAL MECHANIC          AVIATION
7                            POOL MOTOR TRUCK DRIVER     STREETS & SAN
8                                  FIRE ENGINEER-EMT              FIRE
9                                     POLICE OFFICER            POLICE
10                                FOSTER GRANDPARENT  FAMILY & SUPPORT
11                                    POLICE OFFICER            POLICE
12                                    POLICE OFFICER            POLICE
13     FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC              FIRE
14                                    POLICE OFFICER            POLICE
15                             FIREFIGHTER/PARAMEDIC              FIRE
16                         ENGINEERING TECHNICIAN VI       WATER MGMNT
17                                   FIREFIGHTER-EMT              FIRE
18                                    CROSSING GUARD              OEMC
19                  ELECTRICAL MECHANIC (AUTOMOTIVE)  GENERAL SERVICES
20                                 CIVIL ENGINEER II       WATER MGMNT
21                             GENERAL LABORER - DSS     STREETS & SAN
22                                    POLICE OFFICER            POLICE
23                                     PARAMEDIC I/C              FIRE
24                                MOTOR TRUCK DRIVER     STREETS & SAN
25                                    POLICE OFFICER            POLICE
26                        LIBRARY ASSOCIATE - HOURLY    PUBLIC LIBRARY
27                                    POLICE OFFICER            POLICE
28                                    POLICE OFFICER            POLICE
29                         SENIOR PROGRAMMER/ANALYST  FAMILY & SUPPORT
...                                              ...               ...
33153                                 POLICE OFFICER            POLICE
33154                                 POLICE OFFICER            POLICE
33155                                 POLICE OFFICER            POLICE
33156                          GENERAL LABORER - DSS     STREETS & SAN
33157                                FIREFIGHTER-EMT              FIRE
33158                           CONSTRUCTION LABORER       WATER MGMNT
33159                                 LIEUTENANT-EMT              FIRE
33160                                 POLICE OFFICER            POLICE
33161                 FRM OF MACHINISTS - AUTOMOTIVE  GENERAL SERVICES
33162                        REFUSE COLLECTION COORD     STREETS & SAN
33163                                 POLICE OFFICER            POLICE
33164                            ELECTRICAL MECHANIC              OEMC
33165              SENIOR PUBLIC INFORMATION OFFICER           FINANCE
33166                                 POLICE OFFICER            POLICE
33167                                LEGAL SECRETARY               LAW
33168                                 CROSSING GUARD              OEMC
33169                        POOL MOTOR TRUCK DRIVER       WATER MGMNT
33170                                 POLICE OFFICER            POLICE
33171                                 LIEUTENANT-EMT              FIRE
33172                                 POLICE OFFICER            POLICE
33173                                 POLICE OFFICER            POLICE
33174                         MACHINIST (AUTOMOTIVE)  GENERAL SERVICES
33175                 FRM OF MACHINISTS - AUTOMOTIVE  GENERAL SERVICES
33176                                 POLICE OFFICER            POLICE
33177                                 POLICE OFFICER            POLICE
33178                                 POLICE OFFICER            POLICE
33179                                 POLICE OFFICER            POLICE
33180                                 POLICE OFFICER            POLICE
33181                                 POLICE OFFICER            POLICE
33182                        CHIEF DATA BASE ANALYST              DoIT

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                     F           Salary            NaN       101442.0
1                     F           Salary            NaN        94122.0
2                     F           Salary            NaN       101592.0
3                     F           Salary            NaN       110064.0
4                     P           Hourly           20.0            NaN
5                     F           Salary            NaN        50436.0
6                     F           Hourly           40.0            NaN
7                     F           Hourly           40.0            NaN
8                     F           Salary            NaN       103350.0
9                     F           Salary            NaN        93354.0
10                    P           Hourly           20.0            NaN
11                    F           Salary            NaN        84054.0
12                    F           Salary            NaN        87006.0
13                    F           Salary            NaN       102228.0
14                    F           Salary            NaN        84054.0
15                    F           Salary            NaN        91272.0
16                    F           Salary            NaN       111492.0
17                    F           Salary            NaN        95484.0
18                    P           Hourly           20.0            NaN
19                    F           Hourly           40.0            NaN
20                    F           Salary            NaN        65448.0
21                    F           Hourly           40.0            NaN
22                    F           Salary            NaN        90024.0
23                    F           Salary            NaN        82614.0
24                    F           Hourly           40.0            NaN
25                    F           Salary            NaN        48078.0
26                    P           Hourly           20.0            NaN
27                    F           Salary            NaN        76266.0
28                    F           Salary            NaN        48078.0
29                    F           Salary            NaN       110064.0
...                 ...              ...            ...            ...
33153                 F           Salary            NaN        72510.0
33154                 F           Salary            NaN        84054.0
33155                 F           Salary            NaN        90024.0
33156                 F           Hourly           40.0            NaN
33157                 F           Salary            NaN        92274.0
33158                 F           Hourly           40.0            NaN
33159                 F           Salary            NaN       114324.0
33160                 F           Salary            NaN        76266.0
33161                 F           Hourly           40.0            NaN
33162                 F           Salary            NaN        76896.0
33163                 F           Salary            NaN        96060.0
33164                 F           Hourly           40.0            NaN
33165                 F           Salary            NaN        89076.0
33166                 F           Salary            NaN        76266.0
33167                 F           Salary            NaN        76932.0
33168                 P           Hourly           20.0            NaN
33169                 F           Hourly           40.0            NaN
33170                 F           Salary            NaN        90024.0
33171                 F           Salary            NaN       114324.0
33172                 F           Salary            NaN        72510.0
33173                 F           Salary            NaN        87006.0
33174                 F           Hourly           40.0            NaN
33175                 F           Hourly           40.0            NaN
33176                 F           Salary            NaN        48078.0
33177                 F           Salary            NaN        72510.0
33178                 F           Salary            NaN        72510.0
33179                 F           Salary            NaN        48078.0
33180                 F           Salary            NaN        90024.0
33181                 F           Salary            NaN        93354.0
33182                 F           Salary            NaN       115932.0

       Hourly Rate
0              NaN
1              NaN
2              NaN
3              NaN
4            19.86
5              NaN
6            46.10
7            35.60
8              NaN
9              NaN
10            2.65
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18           17.68
19           46.10
20             NaN
21           21.43
22             NaN
23             NaN
24           35.60
25             NaN
26           25.10
27             NaN
28             NaN
29             NaN
...            ...
33153          NaN
33154          NaN
33155          NaN
33156        22.12
33157          NaN
33158        40.20
33159          NaN
33160          NaN
33161        48.85
33162          NaN
33163          NaN
33164        46.10
33165          NaN
33166          NaN
33167          NaN
33168        17.68
33169        35.60
33170          NaN
33171          NaN
33172          NaN
33173          NaN
33174        46.35
33175        48.85
33176          NaN
33177          NaN
33178          NaN
33179          NaN
33180          NaN
33181          NaN
33182          NaN

[33183 rows x 8 columns]>

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [ ]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:
# Your code here

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Compare pokemons who have single type vs those having two types.

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
# Your code here

#### What conclusions can you make?

In [ ]:
# Your comment here